<% var totprice = 0 %>
<% var lineitemcost = 0 %>
<% if (cartitems != '0') {%>
<p> Here products selected in your cart: </p>
	<table border=1>
		<tr>
			<th>Vehicle Name</th>
			<th>Description</th>
			<th>Amount</th>
			<th>Line Cost</th>
			<th>Action</th>
		</tr>
      		<% cartitems.forEach((item, index) => { %>
			<tr>
				<td><%= item.vehicle_name %></td>
				<td><%= item.vehicle_description %></td>
				<td><%= item.vehicle_amount %></td>
				<% lineitemcost = item.vehicle_amount  %>
				<td><%= lineitemcost %> </td>
				<% totprice = totprice + lineitemcost  %>
				<td>
					<form action="/catalog/remove" method="post" >
						<input type="hidden" name="vehicle_id" value=<%= item.vehicle_id %> >
						<button type="submit">Remove</button>
					</form>
				</td>
           		 	</tr>
        		<% }); %>
		<tr bgcolor="yellow" >
			<td colspan="2"><b>Totals</b></td>
			<td><%= totprice %></td>
			<td><%= totprice %></td>
			<td><button class='button1' onclick="window.location.href='/catalog/checkout'">Checkout</button></td>
		</tr>
	</table>
<% } else { %>
        <p>Cart Is Empty</p>
<% } %>

