<h1> Dealer Details </h1>
<table>
	<tr> <td> Dealer ID: </td> <td> <%= onerec.dealer_id %> </td> </tr>
	<tr> <td> Dealer First Name: </td> <td> <%= onerec.firstname %> </td> </tr>
	<tr> <td> Dealer Last Name: </td> <td> <%= onerec.lastname %> </td> </tr>
	<tr> <td> Dealer Email: </td> <td> <%= onerec.email %> </td> </tr>
	<tr> <td> Dealer Phone: </td> <td> <%= onerec.phone %> </td> </tr>
	<tr> <td> Dealer Address: </td> <td> <%= onerec.address %> </td> </tr>
	<tr> <td> Dealer City: </td> <td> <%= onerec.city %> </td> </tr>
	<tr> <td> Dealer State: </td> <td> <%= onerec.state %> </td> </tr>
	<tr> <td> Dealer Zip: </td> <td> <%= onerec.zip %> </td> </tr>
	<tr> <td> Dealer Username: </td> <td> <%= onerec.username %> </td> </tr>
	<tr> <td> Dealer Password: </td> <td> <%= onerec.password %> </td> </tr>
	<tr> <td> Dealer Start Date: </td> <td> <%= onerec.dealer_start_date %> </td> </tr>
</table>
