<h1> Edit Customer </h1>
<form action="/customers/save" method="post">
   <input type="hidden" name="customer_id" value="<%= rec.customer_id %>" >
   <table>
		<tr> <td> Customer First Name: </td> <td> <input type="text" name="firstname" value=<%= rec.firstname %> required>  </td> </tr>
		<tr> <td> Customer Last Name: </td> <td> <input type="text" name="lastname" value=<%= rec.lastname %> required> </td> </tr>
		<tr> <td> Customer Email: </td> <td> <input type="text" name="email" value=<%= rec.email %> required> </td> </tr>
		<tr> <td> Customer Phone: </td> <td> <input type="text" name="phone" value=<%= rec.phone %> required> </td> </tr>
		<tr> <td> Customer Address: </td> <td> <textarea name="address" rows="1" cols="20"><%= rec.address %> </textarea> </td> </tr>
		<tr> <td> Customer City: </td> <td> <textarea name="city" rows="1" cols="20"><%= rec.city %> </textarea> </td> </tr>
		<tr> <td> Customer State: </td> <td> <textarea name="state" rows="1" cols="20"><%= rec.state %> </textarea> </td> </tr>
		<tr> <td> Customer Zip: </td> <td> <input type="text" name="zip" value=<%= rec.zip %> required> </td> </tr>
		<tr> <td> Customer Username: </td> <td> <input type="text" name="username" value=<%= rec.username %> required> </td> </tr>
		<tr> <td> Customer Password: </td> <td> <input type="password" name="password" value=<%= rec.password %> required> </td> </tr>
		<tr> <td> Customer Create Date: </td> <td> <input type="date" name="create_date" value=<%= rec.create_date %> required> </td> </tr>
   </table>
   <button type="submit">Save</button>
</form>
