<h1> Customer Details </h1>
<table>
	<tr> <td> Customer ID: </td> <td> <%= onerec.customer_id %> </td> </tr>
	<tr> <td> Customer First Name: </td> <td> <%= onerec.firstname %> </td> </tr>
	<tr> <td> Customer Last Name: </td> <td> <%= onerec.lastname %> </td> </tr>
	<tr> <td> Customer Email: </td> <td> <%= onerec.email %> </td> </tr>
	<tr> <td> Customer Phone: </td> <td> <%= onerec.phone %> </td> </tr>
	<tr> <td> Customer Address: </td> <td> <%= onerec.address %> </td> </tr>
	<tr> <td> Customer City: </td> <td> <%= onerec.city %> </td> </tr>
	<tr> <td> Customer State: </td> <td> <%= onerec.state %> </td> </tr>
	<tr> <td> Customer Zip: </td> <td> <%= onerec.zip %> </td> </tr>
	<tr> <td> Customer Username: </td> <td> <%= onerec.username %> </td> </tr>
	<tr> <td> Customer Password: </td> <td> <%= onerec.password %> </td> </tr>
	<tr> <td> Customer Create Date: </td> <td> <%= onerec.create_date %> </td> </tr>
</table>
