<h1> Sale Details </h1>
<table>
	<tr> <td> Dealer ID: </td> <td> <%= onerec.dealer_id %> </td> </tr>
	<tr> <td> Customer ID: </td> <td> <%= onerec.customer_id %> </td> </tr>
	<tr> <td> Sale ID: </td> <td> <%= onerec.sale_id %> </td> </tr>
	<tr> <td> Sale Name: </td> <td> <%= onerec.sale_name %> </td> </tr>
	<tr> <td> Sale Amount: </td> <td> <%= onerec.sale_amount %> </td> </tr>
	<tr> <td> Sale Description: </td> <td> <%= onerec.sale_description %> </td> </tr>
	<tr> <td> Sale Date: </td> <td> <%= onerec.sale_date %> </td> </tr>
	<tr> <td> Vehicle ID: </td> <td> <%= onerec.vehicle_id %> </td> </tr>
</table>
