<h1> Edit Promotion </h1>
<form action="/promotions/save" method="post">
   <input type="hidden" name="promotion_id" value="<%= rec.promotion_id %>" >
   <table>
		<tr> <td> Promotion Name: </td> <td> <textarea name="promotion_name" rows="1" cols="20"><%= rec.promotion_name %> </textarea>  </td> </tr>
		<tr> <td> Promotion Description: </td> <td> <textarea name="promotion_description" rows="10" cols="20"><%= rec.promotion_description %> </textarea> </td> </tr>
		<tr> <td> Vehicle ID: </td> <td> <input type="number" name="vehicle_id" value=<%= rec.vehicle_id %> required> </td> </tr>
		<tr> <td> Create Date: </td> <td> <input type="date" name="create_date" value=<%= rec.create_date %> required> </td> </tr>
   </table>
   <button type="submit">Save</button>
</form>
