<h1> Promotion Details </h1>
<table>
	<tr> <td> Promotion ID: </td> <td> <%= onerec.promotion_id %> </td> </tr>
	<tr> <td> Promotion Name: </td> <td> <%= onerec.promotion_name %> </td> </tr>
	<tr> <td> Promotion Description: </td> <td> <%= onerec.promotion_description %> </td> </tr>
	<tr> <td> Vehicle ID: </td> <td> <%= onerec.vehicle_id %> </td> </tr>
	<tr> <td> Create Date: </td> <td> <%= onerec.create_date %> </td> </tr>
</table>
